@media (max-width: 767px) {
	aside {
		width: 100%;
		position: relative !important;
    	overflow-x: auto;
	}
	aside video {
		margin-top: -40px;
	}
	aside h4 {
		font-size: 12px;
	}
	div[data-cy-participant="temp-imuser"] {
  		width: 120px;
		float: left;
		margin-right: 15px;
	}
	div[data-cy-participant="temp-imuser"] div {
  		padding: 0 !important;
	}
	.mainparticipantContainer {
		width: 100%;
		left: 0 !important;
	}
}
